@import './bootstrap/index';
@import '~primevue/resources/themes/saga-blue/theme.css';
@import '~primevue/resources/primevue.min.css';
@import '~primeicons/primeicons.css';
//@import './icons/style';
@import "./components/game-details";
@import "./components/categories.scss";

main{
    background: #F5F5F5;
}